<ion-card>
  <ion-card-header>

    <ion-card-subtitle>
      <div>
        <span>{{ programa.nombre }}</span>
        <ion-button fill="clear" (click)="lanzarMenu()">
          <ion-icon slot="icon-only" name="ellipsis-horizontal-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-card-subtitle>

    <ion-card-title (click)="abrirPrograma()">{{ programa.nombre }}</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <p>
      {{ programa.descripcion }}
    </p>
  </ion-card-content>
</ion-card>