<app-header></app-header>

<ion-content slot="middle">

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Ofertas</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides [options]="slideOpts">
    <ion-slide *ngFor="let oferta of ofertas">
      <ion-card>
        <img [src]="oferta.imagen_banner | imagen">
      </ion-card>
    </ion-slide>
  </ion-slides>

  <ion-grid>
    <ion-row>
      <ion-col>
        <h3>Ofertas Poster</h3>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides [options]="slideOptsPoster">
    <ion-slide *ngFor="let oferta of ofertas">
      <ion-card class="poster">
        <img [src]="oferta.imagen_poster | imagen">
      </ion-card>
    </ion-slide>
  </ion-slides>

</ion-content>